body {
  background-color: yellowgreen;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: center; */
}

.item {
  width: 100px;
  height: 100px;
  background-color: tomato;
  margin: 20px;
  color: white;
  text-align: center;
}
